<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <table>
      <tr>
        <th>Text</th>
        <th>Hotovo</th>

        <h2>přidat novy zadani</h2>
        <form action="/add" method="GET" style="margin-bottom: 20px;">
          <input type="text" name="text" placeholder="Napište zadani" required />
          <button type="submit">Přidat</button>
        </form>
      </tr>

      <% for (const todo of todos) { %>
        <tr>
          <td><%= todo.text %></td>
          <td><%= todo.done ? 'ano' : 'ne' %></td>
          <td>
            <form action="/toggle" method="POST">
              <input type="hidden" name="id" value="<%= todo.id %>" />
              <button type="submit">zmenit</button>
            </form>
            <a href="/delete?id=<%= todo.id %>">smazat</a>
          </td>
        </tr>
      <% } %>
    </table>
  </body>
</html>